
<h1 class="text-center mt-5 font-italic font-weight-bold"><%=@user.username%>'s profile</h1>
<h5 class="text-center mt-3 font-italic">Choose Your Game To Play</h5>

<div class="text-center mt-4">

    <% @user.games.each do |g| %>
        <%= link_to g.name.capitalize, send("#{g.name.downcase}_path"), class:"btn btn-primary btn-lg m-2" %>
    <%end %>
</div>
 