<h1 class="text-center mt-4"><%=@user.username%>'s profile</h1>

<div class="text-center mt-4">
    <%= link_to 'Tower Of Honoi', game_path, class:"btn btn-success btn-lg text-center" %>
    
</div>

